{% extends 'Paginas/base.html' %}
{% load static %}

{% block title %}Pasarela de Pago{% endblock %}

{% block content %}
<div style="max-width:600px;margin:40px auto;padding:20px;border:1px solid #ddd;border-radius:10px;text-align:center; background-color: #fff;">
    <h2>Pasarela de Pago Falsa</h2>

    <p>Total a pagar: <strong>${{ total }}</strong></p>

    <form method="POST" action="{% url 'procesar_compra' %}">
        {% csrf_token %}
        <button style="padding:10px 20px;background:#28a745;color:#fff;border:none;border-radius:8px;">
            Confirmar Pago
        </button>
    </form>
</div>
{% endblock %}
