{% extends 'formularios/baseform.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Registro de Usuario{% endblock %}
{% block estilos %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}

<div class="login-background d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow-lg" style="max-width: 450px; width: 100%;">
        <!-- Imagen circular -->
        <img src="{% static 'imgs/logo.png' %}" alt="Logo" class="circle-img mb-3 mx-auto d-block">

        <h3 class="card-title text-center mb-3">Registro de Usuario</h3>

        <form method="post">
            {% csrf_token %}

            <!-- Usuario -->
            <div class="input-group mb-3 w-100">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                {{ form.usuario|add_class:"form-control"|attr:"placeholder:Ingrese tu usuario" }}
            </div>
            {% if form.usuario.errors %}
                <div class="text-danger mb-2">{{ form.usuario.errors|striptags }}</div>
            {% endif %}

            <!-- Nombres -->
            <div class="input-group mb-3 w-100">
                <span class="input-group-text"><i class="fa-solid fa-id-badge"></i></span>
                {{ form.nombres|add_class:"form-control"|attr:"placeholder:Ingrese tu nombre" }}
            </div>
            {% if form.nombres.errors %}
                <div class="text-danger mb-2">{{ form.nombres.errors|striptags }}</div>
            {% endif %}

            <!-- Apellidos -->
            <div class="input-group mb-3 w-100">
                <span class="input-group-text"><i class="fa-solid fa-id-badge"></i></span>
                {{ form.apellidos|add_class:"form-control"|attr:"placeholder:Ingrese su apellido" }}
            </div>
            {% if form.apellidos.errors %}
                <div class="text-danger mb-2">{{ form.apellidos.errors|striptags }}</div>
            {% endif %}

            <!-- Correo Electrónico -->
            <div class="input-group mb-3 w-100">
                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                {{ form.email|add_class:"form-control"|attr:"placeholder:Ingrese su correo electronico" }}
            </div>
            {% if form.email.errors %}
                <div class="text-danger mb-2">{{ form.email.errors|striptags }}</div>
            {% endif %}

            <!-- Contraseña -->
            <div class="input-group mb-3 w-100">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                {{ form.password1|add_class:"form-control"|attr:"placeholder:Ingrese su contraseña" }}
            </div>
            {% if form.password1.errors %}
                <div class="text-danger mb-2">{{ form.password1.errors|striptags }}</div>
            {% endif %}

            <!-- Confirmar Contraseña -->
            <div class="input-group mb-3 w-100">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                {{ form.password2|add_class:"form-control"|attr:"placeholder:Confirme su contraseña" }}
            </div>
            {% if form.password2.errors %}
                <div class="text-danger mb-2">{{ form.password2.errors|striptags }}</div>
            {% endif %}

            <button type="submit" class="btn w-100" style="background-color:#ec5126; color: #fff;">Registrarse</button>
            <div class="text-center">
                <a href="{% url 'inicio' %}" style="color:#ec5126;">Volver a la página principal</a>
            </div>
        </form>

        <!-- Mensajes generales -->
        {% if messages %}
            <ul class="mt-3">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

</div>
{% endblock %}
